<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/game.css">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"-->
    <!--integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"-->
    <!--crossorigin="anonymous">-->

    <title>game_view</title>
</head>

<body>

<div class="container d-flex flex-column align-self-center" id="app">
    <span v-if="gameInfo.length != 0">
        <h1>Game</h1>
        <div>
            <form id="logOutForm" onsubmit="return false">
                <button type="submit" @click="logOut()">Logout</button>
            </form>
        </div>
            <button onclick="window.open('/web/games.html')">Back</button>
        <div v-for="gamePlayer in this.gameInfo.gamePlayers">
            {{gamePlayer.player.email}}
            <span v-if="gamePlayer.player.id === playerId">(you)</span>
        </div>
        <div class="d-lg-flex">
            <div class="col-sm-12 col-md-12 col-lg-5">
                <table class="table table-bordered" id="firstTable">
                    <thead>
                        <tr>
                            <th scope="col" v-for="column in columns" class="cell">{{column}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="row in board">
                            <th scope="row">{{row.rowId}}</th>
                            <td class="cell" v-for="td in row.column"
                                v-bind:class="{ship_cell: td.ship, opponentSalvo_cell: td.opponentSalvos, cell_yellow:td.hoveredCell, cell_pink:td.overlapCell}"
                                @mouseover="updatePossibleShipPosition(row.rowId, td.columnId)"
                                @click="addShips">
                                <span v-if="td.opponentSalvoes">{{td.salvoTurn}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div id="counter">{{salvoCounter}} shot</div>
                <button @click="addSalvo">Fire</button>
                <table class="table table-bordered" id="secondTable">
                    <thead>
                    <tr>
                        <th scope="col" v-for="column in columns" class="cell">{{column}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="row in board">
                        <th scope="row">{{row.rowId}}</th>
                        <td v-for="td in row.column" class="cell"
                            v-bind:class="{mySalvos_cell: td.mySalvos, salvoInprocess_cell: td.salvoInProcessCell,
                            opponentHitShip_cell :td.opponentShip, opponentSunkShips_cell : td.opponentSunkShips}"
                            @click="setSalvoInProcess(row.rowId, td.columnId)"
                        >
                            <span v-if="td.mySalvos">{{td.salvoTurn}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <table>
                    <thead>
                        <tr>
                            <th scope="col"> Ships</th>
                            <th>
                                <input type="checkbox" name="position" value="vertical" @click="placeVerticalShip"> rotate
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr v-for="shipType in shipTypes">
                        <td> {{shipType.name}}</td>
                        <td v-bind:class="{shipsToPlace: shipType.isPlaced == false, shipsPlaced: shipType.isPlaced == true}"
                            @click="setShipInProcess(shipType.name, shipType.length, shipType.isPlaced)"
                            v-for="cell in shipType.length">
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <hr/>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Ship
                            </th>
                            <th>
                                Left
                            </th>
                            <th>
                                Sunk
                            </th>
                            <th>
                                Turn
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="hitShip in hitShips">
                            <td>
                                {{hitShip.ship}}
                            </td>
                            <td>
                                {{hitShip.left}}
                            </td>
                            <td v-if="hitShip.sunk != 0">
                                {{hitShip.sunk}}
                            </td>
                            <td>
                                {{hitShip.turn}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </span>
    <span v-else>
        {{errorMessage}}
    </span>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="scripts/game.js"></script>

</body>
</html>