<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Fontawesome Stylesheet-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">

    <!--Bootstrap Stylesheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="styles/games.css">
    <title>Games</title>
</head>
<body>
<div id="app" v-cloak>
    <div class="container-fluid p-0">
        <div class="bg1">
            <!--SmoothScroll-->
            <ul class="smooth-scroll list-unstyled">
                <li class="image-button">
                    <div class="hovereffect">
                        <a class="info" href="#leaderBoard">
                            <img class="img-fluid p-3" src="styles/img/Leaderboard-icon.png" width="110px" height="110px" alt="">
                            <span class="text-content text-warning h5">LeaderBoard</span>
                        </a>
                    </div>
                </li>
                <br>
                <li class="image-button">
                    <div class="hovereffect">
                        <a class="info" href="#games">
                            <img class="img-fluid p-3" src="styles/img/games-icon.png" width="110px" height="110px" alt="">
                            <span class="text-content text-warning h5 ml-3">Games</span>
                        </a>
                    </div>
                </li>
                <br>
                <div class="image-button hovereffect mb-3" v-if="isLoggedIn">
                    <a @click="createNewGame">
                        <img class="img-fluid p-3" src="styles/img/start-icon.png" width="110px" height="110px" alt="">
                        <span class="text-content text-warning h5 ml-1">Start New Game</span>
                    </a>
                </div>
            </ul>
        </div>

        <!--navbar-->
        <nav class="navbar fixed-top row justify-content-between">
            <div class="d-flex col-3 text-warning ml-4 h2">
                <i class="fas fa-ship"></i>
            </div>
            <div class="col-3 align-items-end">
                <div v-if="isLoggedIn == false" class="d-flex justify-content-end mr-5">
                    <button type="button" class="btn btn-outline-warning" data-toggle="modal"
                            data-target="#exampleModalCenter">
                        Log In
                    </button>
                </div>
                <div v-if="isLoggedIn == true" class="d-flex justify-content-end mr-5">
                            <span class="text-warning mr-4 mt-1">
                                {{currentPlayer.email}}
                            </span>
                    <button type="submit" class="btn btn-outline-warning" @click="logOut()">Logout</button>
                </div>
            </div>
        </nav>
        <div class="bg2">
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-warning" id="exampleModalCenterTitle">Log in to Battleship
                                Game</h5>
                            <div v-if="isLoggedIn == false">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div v-if="isLoggedIn == false">
                                    <form id="logInForm" @click.prevent="handleFormSubmit">
                                        <div class="form-group">
                                            <label for="name" class="text-secondary">Username</label>
                                            <input v-model="username" type="email" class="form-control"
                                                   aria-describedby="emailHelp" placeholder="Enter email" name="name"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label for="pwd" class="text-secondary">Password</label>
                                            <input v-model="password" type="password" class="form-control"
                                                   placeholder="Password" name="pwd" required>
                                        </div>
                                        <button type="submit" class="btn btn-warning" name="login" data-dismiss="modal">
                                            Login
                                        </button>
                                        <button type="submit" class="btn btn-warning" name="signup"
                                                data-dismiss="modal">Create an account
                                        </button>
                                    </form>
                                </div>
                                <div v-if="isLoggedIn">
                                    <p class="text-white">User: {{currentPlayer.email}}</p>
                                    <form id="logOutForm" onsubmit="return false">
                                        <button type="submit" class="btn btn-warning" @click="logOut()">Logout</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Table Games-->
            <div id="games" class="container table-responsive">
                <div class="d-flex row justify-content-center">
                    <h1 class="text-center interesting-color m-3">Games</h1>
                    <table class="table">
                        <thead class="text-warning">
                        <tr>
                            <th scope="col">Game ID</th>
                            <th scope="col">Date</th>
                            <th scope="col">Player 1</th>
                            <th scope="col">Player 2</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="game in formattedGames">
                            <th scope="row">{{game.gameId}}</th>
                            <td>{{game.date}}</td>
                            <td>
                                <span v-if="game.gamePlayers[0]">
                                    {{game.gamePlayers[0].player.email}}
                                </span>
                            </td>
                            <td>
                                <span v-if="game.gamePlayers[1]">
                                    {{game.gamePlayers[1].player.email}}
                                </span>
                                <span v-if="isLoggedIn && !game.gamePlayers[1] && gamePlayer.player.id != currentPlayer.id"
                                  v-for="gamePlayer in game.gamePlayers">
                                    <a class="text-warning" @click="joinGame(game.gameId)">Join Game</a>
                                </span>
                            </td>
                            <td>
                                <span v-if="isLoggedIn && gamePlayer.player.id === currentPlayer.id"
                                      v-for="gamePlayer in game.gamePlayers">
                                    <a :href="'http://localhost:8080/web/game.html?gp=' + gamePlayer.id"
                                       class="text-warning">Resume</a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="bg3">
            <!--Table LeaderBoard-->
            <div id="leaderBoard" class="container table-responsive">
                <h1 class="text-center interesting-color m-3"> LeaderBoard</h1>
                <table class="table mb-5">
                    <thead class="text-warning">
                    <tr>
                        <th scope="col">Player</th>
                        <th scope="col">Total</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">Ties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="player in leaderBoard">
                        <td>{{player.player_email}}</td>
                        <td>{{player.total}}</td>
                        <td>{{player.wins}}</td>
                        <td>{{player.losses}}</td>
                        <td>{{player.ties}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer></footer>
<!-- Vue.js-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!--Bootstrap 4-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!--Optional JavaScript-->
<script type="text/javascript" src="scripts/games.js"></script>
</body>
</html>

