<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
</head>
<body>
    <div id="app" class="d-flex ">
        <div v-if="isLoggedIn == false">
            <form id="logInForm" @click.prevent="handleFormSubmit">
                <label for="name"><b>Username</b></label>
                <input v-model="username" type="email" placeholder="Enter Username" name="name" required>
                <label for="pwd"><b>Password</b></label>
                <input v-model="password" type="password" placeholder="Enter Password" name="pwd" required>
                <button type="submit" name="login">Login</button>
                <button type="submit" name="signup">Signup</button>
            </form>
        </div>
        <div v-else>
            <p>User: {{currentPlayer.email}}</p>
            <form id="logOutForm" onsubmit="return false">
                <button type="submit" @click="logOut()">Logout</button>
            </form>
        </div>
        <hr/>
        <div >
            <div>Games</div>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Game ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Player 1</th>
                        <th scope="col">Player 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for = "game in formattedGames">
                        <th scope="row">{{game.gameId}}</th>
                        <td>{{game.date}}</td>
                        <td>
                            <span v-if="game.gamePlayers[0]">
                                {{game.gamePlayers[0].player.email}}
                            </span>
                        </td>
                        <td>
                            <span v-if="game.gamePlayers[1]">
                                {{game.gamePlayers[1].player.email}}
                            </span>
                            <span v-if="isLoggedIn && !game.gamePlayers[1] && gamePlayer.player.id != currentPlayer.id" v-for="gamePlayer in game.gamePlayers">
                                <button @click="joinGame(game.gameId)">Join</button>
                            </span>
                        </td>
                        <td>
                            <span  v-if="isLoggedIn && gamePlayer.player.id === currentPlayer.id" v-for="gamePlayer in game.gamePlayers" >
                                <a :href="'http://localhost:8080/web/game.html?gp=' + gamePlayer.id">Resume</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr/>
        <div>
            <table class="table table-borderless">
                <div> LeaderBoard</div>
                <thead>
                    <tr>
                        <th scope="col">Player Id</th>
                        <th scope="col">Player</th>
                        <th scope="col">Total</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">Ties</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for = "player in leaderBoard">
                        <th>{{player.player_id}}</th>
                        <td>{{player.player_email}}</td>
                        <td>{{player.total}}</td>
                        <td>{{player.wins}}</td>
                        <td>{{player.losses}}</td>
                        <td>{{player.ties}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="isLoggedIn">
            <button @click="createNewGame">Create Game</button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="scripts/games.js"></script>
</body>
</html>