/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .hovereffect img {
        width: 60px;
        height: 60px;
    }

    .hovereffect {
        font-size: 20px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .hovereffect img {
        width: 30px;
        height: 30px;
    }
    .hovereffect {
        font-size: 10px;
    }
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}
.bg1 {
    background-image: url("img/battleship.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    background-image: url("img/tableBackground.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-content {
    background-color: rgb(51,51,51);
}

.hovereffect img {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.hovereffect:hover img {
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect a {
    text-decoration: none;
}

li {
    border: 2px solid #F2B736;
    border-radius: 20px 20px;
    width: 350px;
    background-color: rgba(51,51,51, 0.7);
}

.smooth-scroll {
    position: absolute;
    left: 10px;
    bottom: 10px
}