body, h1 {
    text-align: center;
}

footer {
    height: 50px;
    background-color: #333A41;
}

nav {
    background-color: rgba(51, 51, 51, 0.3);
}

[v-cloak] {
    display: none;
}

#bg {
    background-image: url("img/game_background.jpg");

    height: 100vh;

    background-position: center;
    background-size: cover;
}

.ship_cell {
    background: blue;
}

.opponentSalvo_cell {
    background: lightseagreen;
}

.mySalvos_cell {
    background: #86ffa3;
}

.cell {
    width: 50px;
    height: 50px;
}

.cell_yellow {
    background-color: yellow;
}

.cell_pink {
    background-color: pink;
}

.shipsToPlace {
    width: 50px;
    height: 50px;
    background: yellow;
    border: 1px solid grey;
}

.shipsPlaced {
    width: 50px;
    height: 50px;
    background: white;
    border: 1px solid grey;
}

#secondTable td:hover {
    background: grey;
}

#counter {
    background-color: #16447A;
}

.salvoInprocess_cell {
    background-color: orange;
}

.opponentHitShip_cell {
    background-color: #16447A;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/57/Explosion-155624_icon.svg');
    background-size: cover;
}

.opponentSunkShips_cell {
    background: grey;
}
