body, h1 {
    text-align: center;
}
.ship_cell {
    background: green;
}
.oponentSalvo_cell {
    background: red;
}
.mySalvoes_cell {
    background: blue;
}
.cell {
    width: 50px;
    height: 50px;
}
.shipDemo {
    width: 50px;
    height: 50px;
    background: yellow;
    border: 1px solid grey;
}