body, h1 {
    text-align: center;
}

footer {
    height: 50px;
    background-color: #333A41;
}

nav {
    background-color: rgba(51, 51, 51, 0.7);
}

[v-cloak] {
    display: none;
}

#bg1 {
    background-image: url("img/bg2.jpg");

    height: 100vh;
    background-position: center;
    background-size: cover;
}

#bg2 {
    background-image: url("img/game-bg2.jpg");

    height: 100vh;
    background-position: center;
    background-size: cover;
}

.ship1 {
    background-image: url("img/carrear.png");
    background-size: cover;
    background-position: center;
    height: 80px;
}

.ship2 {
    background-image: url("img/battleship.png");
    background-size: cover;
    background-position: center;
    height: 80px;
}

.ship3 {
    background-image: url("img/submarine.png");
    background-size: cover;
    background-position: center;
    height: 80px;
}

.ship4 {
    background-image: url("img/destroyer.png");
    background-size: cover;
    background-position: center;
    height: 80px;
}

.ship5 {
    background-image: url("img/patrol-boat.png");
    background-size: cover;
    background-position: center;
    height: 80px;
}

.table {
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 20px 20px;
}

.ship_cell {
    background-color: rgba(255, 195, 0, 0.6);
}

.opponentSalvo_cell {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/57/Explosion-155624_icon.svg');
    background-size: cover;
    background-position: center;
}

.mySalvos_cell {
    background-image: url('img/failed-shot-icon.png');
    background-size: cover;
    background-position: center;
}

.cell {
    width: 50px;
    height: 50px;
}

.cell_yellow {
    background-color: #F3C944;
}

.cell_pink {
    background-color: #F77E61;
}

.shipsToPlace {
    width: 50px;
    height: 50px;
    background: #005B6B;
    border: 1px solid grey;
}

.shipsPlaced {
    width: 50px;
    height: 50px;
    /*background: #1B437C;*/
    border: 1px solid grey;
}

#secondTable td:hover {
    background: #F3C944;
}

.salvoInprocess_cell {
    background-image: url('img/bomb-icon.png');
    background-size: cover;
    background-position: center;
}

.opponentHitShip_cell {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/57/Explosion-155624_icon.svg');
    background-size: cover;
    background-position: center;
}

.opponentSunkShips_cell {
    background-color: rgba(236, 8, 2, 0.4);
    background-image: url('img/smoke-icon.png');
    background-size: cover;
    background-position: center;
}

.interesting-color {
    color: #006376;
}

.sunkship_img_bg {
    background-color: rgba(236, 8, 2, 0.4);
}