/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .hovereffect img {
        width: 60px;
        height: 60px;
    }

    .hovereffect {
        font-size: 20px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .hovereffect img {
        width: 30px;
        height: 30px;
    }

    .hovereffect {
        font-size: 10px;
    }
}

body, html {
    scroll-behavior: smooth;
}

nav {
    background-color: rgba(51, 51, 51, 0.7);
}

footer {
    height: 50px;
    background-color: #333A41;
}

.bg1 {
    background-image: url("img/bg1.jpg");

    height: 100vh;

    background-position: center;
    background-size: cover;
}

.bg2 {
    background-image: url("img/bg2.jpg");

    height: 100vh;

    background-position: center;
    background-size: cover;
}

.bg3 {
    background-image: url("img/bg3.jpg");

    height: 100vh;

    background-position: center;
    background-size: cover;
}

.modal-content {
    background-color: rgb(51, 51, 51);
}

.hovereffect img {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.hovereffect:hover img {
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect a {
    text-decoration: none;
}

.bg1 .image-button {
    border: 2px solid #F2B736;
    border-radius: 20px 20px;
    width: 300px;
    background-color: rgba(51, 51, 51, 0.6);
}

.bg2 .image-button {
    border: 2px solid #F2B736;
    border-radius: 20px 20px;
    width: 300px;
    background-color: rgba(51, 51, 51, 0.6);
}

.bg2 .table-button {
    border: 2px solid #F2B736;
    border-radius: 20px 20px;
    width: 200px;
    background-color: rgba(51, 51, 51, 0.6);
}

.smooth-scroll {
    position: absolute;
    left: 10px;
    bottom: 25px
}

.table {
    background-color: rgba(51, 51, 51, 0.6);
    color: white;
    border-radius: 20px 20px;
}

.interesting-color {
    color: #006376;
}

[v-cloak] {
    display: none;
}