body, h1 {
    text-align: center;
}
.ship_cell {
    background: blue;
}
.oponentSalvo_cell {
    background: red;
}
.mySalvoes_cell {
    background: green;
}
.cell {
    width: 50px;
    height: 50px;
}
.cell_yellow {
    background-color: yellow;
}
.shipsToPlace {
    width: 50px;
    height: 50px;
    background: yellow;
    border: 1px solid grey;
}

.shipsPlaced {
    width: 50px;
    height: 50px;
    background: white;
    border: 1px solid grey;
}