body, html {
    height: 100%;
}
.bg {
    background-image: url("img/battleship.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.modal-content {
    background-color: rgb(51,51,51);
}

/*.navbar .dropdown-menu {*/
    /*background-color: #333A41;*/
/*}*/